.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem auto;
    max-width:  1000px;
}

.gallery img{
    flex: 1 1 240px;
    max-width:300px;
    object-fit: cover;
    aspect-ratio: 4/3;
}